{% extends 'base.html' %}

{%  block title %}
Contact List
{% endblock title %}

{% block content %}

<a href="{% url 'currency:contactus-create' %}">Create</a><br>


<table border="1"
       style="background-color: silver">
    <tr>
        <th>Id:</th>
        <th>Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Message</th>

        <th>Edit:</th>
        <th>Delete:</th>
        <th>Details:</th>
    </tr>
    {% for contactus in object_list %}
    <tr>
        <td>{{ contactus.id }}</td>
        <td>{{ contactus.name }}</td>
        <td>{{ contactus.email_from }}</td>
        <td>{{ contactus.subject }}</td>
        <td>{{ contactus.message }}</td>

        <td><a href="{% url 'currency:contactus-update' contactus.id%}">Edit</a></td>
        <td><a href="{% url 'currency:contactus-delete' contactus.id%}">Delete</a></td>
        <td><a href="{% url 'currency:contactus-details' contactus.id%}">Details</a></td>
    </tr>

    {% endfor %}
</table>

{% endblock content %}
